*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    Width: 100%;
}
@font-face {
    font-family: a;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: b;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}
@font-face {
        font-family: d;
        src: url(./Montserrat-VariableFont_wght.ttf);
}
#nav{
    position: fixed;
    height: 70px;
    z-index: 999;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding: 0px 110px;
}
#nav>h4{
    color: white;
    font-size: 1.2vw;
    margin-top: 0.5%;
    font-family: a;
    font-weight: 400;
    transform: scaleX();
    transition: all 0.6s ease;
}
#nav>h4:hover{
    transform: scaleX(1);
}
#nav>img{
    object-fit: cover;
    height: 80px;
    width: 100px;
    margin-left: 1%;
    padding: 10px 10px;
    margin-top: .2%;
}
img{
    position: relative;
    height: 110%;
    width: 100vw;
    margin-top: 0%;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
