*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    Width: 100%;
}
#nav{
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding: 0px 110px;
}
#nav>h4{
    color: white;
    font-size: 1.2vw;
    margin-top: 3%;
}
#nav>img{
    position: absolute;
    object-fit: cover;
    height: 80px;
    width: 100px;
    left: 5%;
    padding: 10px 10px;
    margin-top: 2.5%;
}